<main class="main-contact">
    <div class="contact">
        <div class="contact-header">
            <h1>CONTACT US</h1>
        </div>
        <div class="contact-main" id="contact-main">
            <ul class="contact-list">
                <li class="contact-item">
                    <img src="https://img.icons8.com/pastel-glyph/64/F69E30/home.png" />
                    <div class="item-description">
                        <h2>Address</h2>
                        <h4>Jalan Ganesa No. 10, Kota Bandung, Bandung, Jawa Barat</h4>
                    </div>
                </li>
                <li class="contact-item">
                    <img src="https://img.icons8.com/pastel-glyph/64/F69E30/email.png" />
                    <div class="item-description">
                        <h2>Email Address</h2>
                        <h4>kmitb@itb.com</h4>
                    </div>
                </li>
                <li class="contact-item">
                    <img src="https://img.icons8.com/pastel-glyph/64/F69E30/whatsapp.png" />
                    <div class="item-description">
                        <h2>Call Number</h2>
                        <h4>086894464332</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>