<main class="home">
    <div class="header-home">
        <div class="title">
            <h1>ITB Hari Ini</h1>
            <p>
                Situs crowdfunding, bakti untuk almamater
                <br>
                <span class="hastag">#Crowdfunding Untuk Almamater</span>
            </p>
            <div class="border"></div>
        </div>
        <div class="title-image">
            <div class="border border-image"></div>
        </div>
    </div>

    <div class="main-home">
        <div class="quotes">
            <p class="quotes-title">Klein Private Equity - About</p>
            <h1 class="quotes-text">
                “The only way around is through.”–Robert Frost
            </h1>
        </div>

        <div class="category">
            {{#each allCategory}}
            <a href="/allProjets?category={{query}}">
                <div class="category-item">
                    <p class="category-number">{{index}}</p>
                    <h2 class="category-name">{{title}}</h2>
                </div>
            </a>
            {{/each}}
        </div>
    </div>

    <div class="footer-home">
        <div class="footer-image">
            <div class="partner">
                <div class="number">02</div>
                <div class="title">Partners</div>
            </div>
            <div class="project">
                <div class="number">0</div>
                <div class="title">Projects</div>
            </div>
            <div class="funding">
                <div class="number">0</div>
                <div class="title">Funding</div>
            </div>
        </div>
    </div>
</main>