<main class="home">
    <div class="header-home">
        <div class="title">
            <h1>ITB Hari Ini</h1>
            <p>
                Situs crowdfunding, bakti untuk almamater
                <span class="hastag">#CrowdfundingUntukAlmamater</span>
            </p>
            <div class="border"></div>
        </div>
        <div class="title-image">
            <div class="border border-image"></div>
        </div>
    </div>

    <div class="main-home">
        <div class="quotes">
            <p class="quotes-title">Klein Private Equity - About</p>
            <h1 class="quotes-text">
                “The only way around is through.”–Robert Frost
            </h1>
        </div>

        <div class="category">
            <div class="category1">
                <p class="category-number">01</p>
                <h2 class="category-name">Pengabdian Masyarakat</h2>
            </div>
            <div class="category2">
                <p class="category-number">02</p>
                <h2 class="category-name">Startup & Bisnis</h2>
            </div>
            <div class="category3">
                <p class="category-number">03</p>
                <h2 class="category-name">Seminar & Pengembangan Diri</h2>
            </div>
            <div class="category4">
                <p class="category-number">04</p>
                <h2 class="category-name">Proyek & Acara</h2>
            </div>
            <div class="category5">
                <p class="category-number">05</p>
                <h2 class="category-name">Kompetisi</h2>
            </div>
            <div class="category6">
                <p class="category-number">06</p>
                <h2 class="category-name">Lainnya</h2>
            </div>
        </div>
    </div>

    <div class="footer-home">
        <div class="footer-image">
            <div class="partner">
                <div class="number">02</div>
                <div class="title">Partners</div>
            </div>
            <div class="project">
                <div class="number">0</div>
                <div class="title">Projects</div>
            </div>
            <div class="funding">
                <div class="number">0</div>
                <div class="title">Funding</div>
            </div>
        </div>
    </div>
</main>