<main>
    <div class="leaderboard">
        <div class="leaderboard-header">
            <h1>Leaderboard</h1>
        </div>
        <div class="leaderboard-tabs">
            <div role="tablist">
                <button role="tab" id="recent" class="clicked">
                    Recent
                </button>
                <button role="tab" id="highest">
                    Highest
                </button>
                <button role="tab" id="popular">
                    Popular
                </button>
            </div>
            <div role="tabpanel" aria-labelledby="recent">
            </div>
            <div role="tabpanel" aria-labelledby="highest" class="hidden">

            </div>
            <div role="tabpanel" aria-labelledby="popular" class="hidden">

            </div>
            <div class="page-button">
                <img src="/img/circled-chevron-left.png" class="previous-button hidden" />
                <img src="/img/circled-chevron-right.png" class="next-button" />
            </div>
        </div>
    </div>
    </div>
</main>