<div class="container">
    <h3 class="alert alert-dark p-3 text-dark text-center">All Categories </h3>

    <div class="row">
        <div class="col-6 mx-auto">
            <table class="table text-center">
                <thead class="bg-category-head">
                    <tr>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="bg-category-body category-body">
                    {{#each categories}}
                    <tr>
                        <td>{{title}}</td>
                        <td class="action-categories">
                            <a href="/admin/category/edit/{{_id}}" class="btn btn-sm btn-warning mr-2">Edit</a>
                            <form action="/admin/category/delete/{{_id}}?newMethod=DELETE" method="post">
                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>
    </div>

    <hr>

    <div class="row p-4">
        <div class="col-md-10">
            <form action="/admin/category" method="POST">
                <div class="form-group">
                    <label for="title">CATEGORY TITLE</label>
                    <input type="text" class="form-control" id="category-title" name="title" placeholder="Enter Title"
                        autocomplete="off">
                </div>

                <button class="btn btn-outline-success btn-md" id="create-category-button" type="submit">Create
                    Category</button>
            </form>
        </div>
    </div>

</div>