<div class="create-form">
    <h1>Create New Posts</h1>
    <div class="row p-4">
        <div class="col-md-10 form">
            <form action="/admin/posts/create" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Blog Title</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Write Your Blog Title"
                        required autocomplete="off">
                </div>

                <div class="form-group">
                    <label for="file">File Upload</label>
                    <input type="file" name="fileUpload" id="file" class="form-control">
                </div>

                <div class="form-group">
                    <label for="status">Status</label>
                    <select name="status" id="status" class="form-control" required>
                        <option value="" disabled selected>Select your Status</option>
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                        <option value="draft">Draft</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <select name="category" id="category" class="form-control" required>
                        <option value="" disabled selected>Select your Category</option>
                        {{#each categories}}
                        <option value={{_id}}>{{title}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-check ml-3">
                    <label for="allowComments">
                        <input type="checkbox" name="allowComments" id="allowComments" class="form-check-input">
                        Allow Comments
                    </label>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control" placeholder="Write Description"
                        rows="10"></textarea>
                </div>

                <button class="btn btn-outline-success btn-lg" type="submit">Create Posts</button>
            </form>
        </div>
    </div>
</div>