<div class="create-form">
    <h1>Edit Post</h1>
    <div class="row p-4">
        <div class="col-md-10 form">
            <form action="{{post._id}}?newMethod=PATCH" method="POST">
                <div class="form-group">
                    <label for="title">Blog Title</label>
                    <input type="text" class="form-control" name="title" id="title" required autocomplete="off"
                        value="{{post.title}}">
                </div>

                <div class="form-group">
                    <label for="status">Status</label>
                    <select name="status" id="status" class="form-control" required>
                        {{#select post.status}}
                        <option value="public">Public</option>
                        {{/select}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control" placeholder="Write Description"
                        rows="10">{{post.description}}</textarea>
                </div>

                <button class="btn btn-outline-success btn-lg" type="submit">Edit Posts</button>
            </form>
        </div>
    </div>
</div>