<div class="container-fluid text-center">
    <h1>Welcome To Admin Dashboard</h1>
    <br>
    <h3>Total Views Project: {{viewProject}} Views</h3>
    <h3>Total Views Post: {{viewPost}} Views</h3>
</div>