{{> admin/admin-header}}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar-admin">
        {{> admin/admin-navbar}}
    </nav>
    <div class="content-wrapper">
        {{> admin/messages}}
        {{{ body }}}
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="footer-admin">
        {{> admin/admin-footer}}
    </footer>
</body>

</html>