{{> default/header}}

<body class="flex flex-column">
    {{> default/top-navigation}}
    {{> admin/messages}}
    {{{ body }}}
    {{> default/footer}}
    <script src="/js/default.js"></script>
    <script src="/js/newsletter.js"></script>
    <script src="/js/leaderboard.js"></script>
    <script src="/js/message.js"></script>
</body>

</html>