<main>
    <div class="left-main">
        <img src="/img/undraw_Waiting__for_you_ldha.png" alt="404-image">
    </div>
    <div class="right-main">
        <h1>PAGE 404</h1>
        <br>
        <h1>NOT FOUND</h1>
        <br>
        <p>We couldn't find the page you are looking for</p>
        <a href="/" class="button">BACK TO HOME</a>
    </div>
</main>