/*=================LOGIN============== */

.login-header {
  background-color: var(--dark-grey);
}

.login .password,
.login .email {
  display: flex;
  flex-direction: column;
  grid-gap: 0;
}

.login .password label,
.login .email label {
  margin-bottom: 0.1em;
  color: var(--dark-grey);
}

.login {
  width: 25em;
  margin: 0 auto 0;
  box-shadow: 0px 15px 30px -14px rgba(0, 0, 0, 0.75);
}

.login-footer {
  background-color: var(--dark-grey);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.3em 0 0.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-footer > * {
  text-decoration: none;
  color: var(--light-grey);
  font-size: 1rem;
  padding: 0.1em 0;
}

.login-form > * {
  display: grid;
  padding: 1em;
}

.email input,
.password input,
.firstName input,
.lastName input {
  border-radius: 4em;
  padding: 1.3em;
  font-size: 0.7rem;
  background-color: var(--dark-grey);
  border: 2px solid #f6f6f670;
}

.login-form {
  background-color: var(--light-grey);
  border-radius: 0;
}
