/*======Main Register=======*/
.register {
  width: 60%;
  margin: 0 auto 0;
  box-shadow: 0px 15px 30px -14px rgba(0, 0, 0, 0.75);
  margin-bottom: 3em;
}

.firstName,
.lastName,
.password-first-input,
.password-second-input {
  display: flex;
  flex-direction: column;
}

.register-header,
.login-header {
  background-color: var(--dark-grey);
  text-align: center;
  padding: 1em 0;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.4px;
  font-weight: 500;
  color: var(--light-grey);
}

.register-form,
.login-form {
  background-color: var(--light-grey);
  padding: 0.9em;
}

.register-form > * {
  padding: 1.5em 1em;
  display: grid;
}

.form-input {
  border: none;
  color: var(--light-grey);
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.1px;
  outline: none;
  font-weight: 500;
}

.name,
.password {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.2em;
}

.name {
  padding-bottom: 0;
}
.password {
  padding-top: 0;
}

.submit-register {
  padding: 1em;
}

.submit-btn {
  border: none;
  background-color: var(--dark-grey);
  margin: 0 auto;
  border-radius: 1em;
  color: var(--light-grey);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border-bottom: 5px solid #26313f;
}

.submit-btn:hover {
  background-color: #26313f;
}
