<footer class="background-blue flex align-center space-evenly">
    <div class="footer-left">
        <!-- === LOGO === -->
        <img src="/img/logov03.png" alt="logo" class="logo">
        <!-- === LOGO === -->
    </div>

    <div class="footer-mid text-center">
        <div class="footer-text">
            <h2>Swadaya Ganesha</h2>
            <h3>Jalan Ganesa No. 10, Kota Bandung, Bandung, Jawa Barat</h3>
            <h3>swadayaganesha@km.itb.ac.id</h3>
        </div>
    </div>

    <div class="footer-right footer-social-media">
        <a href="#">
            <img src="/img/linkedin.png" />
        </a>

        <a href="#">
            <img src="/img/facebook-new.png" />
        </a>

        <a href="#">
            <img src="/img/twitter.png" />
        </a>
    </div>
</footer>